/* CSS style for UK Polarization Map*/

/* Loading font faces from ttf (font) files */
@font-face{
    font-family: grestal;
    src: url(GrestalScriptDemoRegular-dBYX.ttf);
}

@font-face{
    font-family: salmapro;
    src: url(salmapro-lWZV.otf);
}
@font-face{
    font-family: mainlux;
    src: url(MainluxLight-DOAJx.otf);
}
@font-face{
    font-family: salmapro;
    src: url(SalmaproMedium-0Wooo.otf);
}

@font-face{
    font-family: mont;
    src: url(Montserrat\MontserratBlack-3zOvZ.ttf);
}

/* Map CSS */
.map {
    fill:#a3a3a7 ; 
    stroke: #3d3d3d;
    stroke-width: 0.5px;
    stroke-linecap: round;
    /*border: thin solid #999;*/
    border-radius: 5px;
    margin: 10px 0 0 20px;
    /* Existing background-color: #f5ddc9 */
    background-color: none; 
    margin-top: 10px;
    /*box-shadow: 2px 2px 4px #999;*/
}

/* CSS for Buttons - Reset, Methods and Map */
.reset {
    background-color: #f5ddc9;
    border: 1px solid #999;
    color: #464545;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 3px;
    margin-left: 100px;
    cursor: pointer;
    font-family: salmapro;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 2px 2px 4px #999;
    border-radius: 5px;
}

.reset:hover{
    background-color: white;
    color: #a55f26;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 4px #999;
}

.option-button {
    background-color: #a55f26;
    color: #fff;
    stroke: #a55f26;
    stroke-width: 1px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 850px;
    border-radius: 3px;
    font-weight: bold;
    font-family: salmapro;
}
  
.option-button:hover {
    background-color: #fff;
    color: #a55f26;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 4px #999;
    font-weight: bold;
}

/* Title Ribbon */
.mapTitle {
    background-color: #f5ddc9;
    width: auto;
    height: 25px;
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    padding: 10px;
    padding-left: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align:left;
    font-family: helmet;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color:#5C473D;
    box-shadow: 2px 2px 5px 2px #8e8e8e;
    display: flex;
    align-items: center;
}

.mapTitleLink:-webkit-any-link {
    font-family: salmapro;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color:#5C473D;
    cursor: pointer;
    text-decoration: none;
    width: auto;
}

.mapTitle:hover{
    color: #a55f26;
    border: 1px solid #e7e7e7;
    box-shadow: 2px 2px 4px #999;
    font-weight: bold;
}


/* Hyperlinks style*/
a:-webkit-any-link {
    color: #a55f26;
    cursor: pointer;
    text-decoration: underline;
}

/* Chart style */
.chart {
    float: right;
    margin: 20px 20px 0 0;
    /*border: thin solid #999;*/
    border-radius: 5px;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.chartTitle {
    font-family: salmapro ;
    font-size: 16px;
    font-weight: normal;
    color: #9999991c;
}

.chartBackground {
    fill: none;
    border: 0;
    
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 0px;
    shape-rendering: crispEdges;
    border-radius: 5px;
}

.x-axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x-axis path {
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.x-axis text{
    font-family: salmapro;
    font-size: 0.9em;
    fill: #999;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: salmapro;
    font-size: 0.9em;
    fill: #999;
}

.x-axis text {
    font-family: salmapro;
    font-size: 0.9em;
    fill: #999;
}


/* dropdown */
.dropdown {
    background-color: #f5ddc9;
    font-family: salmapro;
    font-size: 1em;
    font-weight:550;
    color: #464545;
    border: 0;
    height: 30px;
    padding-right: 20px;
    box-shadow: 2px 2px 4px #999;
    border: 1px solid #999;
}

.dropdown-container {
    padding-top: 10px;
    margin-left: 350px;
    display: inline-block;
}

.dropdown-container .tooltip-content {
    display: none;
    position: absolute;
    top: 45px;
    left: 600px;
    background-color: #ffffffa5;
    color: #5C473D;
    font-family: salmapro;
    font-size: 0.9em;
    padding: .5em;
    min-width: 10rem;
    width: 25px;
    box-shadow: 2px 2px 4px #999;
    border: solid thin #464545;
}

.dropdown-container:hover .tooltip-content {
    display: block;
}

.option {
    font-weight: normal;
}

.dropdown:hover{
    background-color: #f5ddc9;
    color: #a55f26;
}


/* Dynamic label design */
.infolabel {    
    margin: 0 20px 0 0; 
    z-index: 11;   
    position: absolute;
    height: auto;
    min-width: auto;
    color: #464545;
    background-color: #f5ddc9d8;
    border: solid thin #464545;
    padding: 5px 10px;
    top: -100px;
    font-family: salmapro;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-family: salmapro;
}
/*Tooltip for dropdown*/
.tooltip {    
    margin: 0 20px 0 0; 
    z-index: 11;   
    position: absolute;
    height: auto;
    min-width: auto;
    color: #464545;
    background-color: #f5ddc9d8;
    border: solid thin #464545;
    padding: 5px 10px;
    top: -100px;
    font-family: salmapro;
}

.tooltip-insetMap {    
    margin: 0 20px 0 0; 
    z-index: 11;   
    position: absolute;
    height: auto;
    min-width: auto;
    color: #5C473D;
    background-color: #ffffffa5;
    border: solid thin #464545;
    padding: 5px 10px;
    top: 180px;
    left: 170px;
    font-family: salmapro;
    font-size: 0.9em;
    box-shadow: 2px 2px 4px #999; 
}

/* color legend */
.legend{
    position: absolute;
    font-family: salmapro;
    font-size: 0.9em;
    font-weight: normal;
    color:#8e8e8e;
}

body {
    background-color: #fff2e7;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5ddc9;
    color: #464545;
    border: 2px solid #999;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(97, 97, 97, 0.3);
    font-family: salmapro;
  }
  
.popup p {
    margin: 0 0 20px;
}
  
.popup button {
    padding: 10px 20px;
    background-color: #a55f26;
    border: 1px solid #999;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.popup button:hover {
    background-color: #fff;
    color: #a55f26;
    box-shadow: 2px 2px 4px #999;
}
  
.document{
    font-family: salmapro;
    margin: 30px;
    color: #3e3e3e;
}

